name: CodeQL queries test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: Run CodeQL query tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: init
        uses: github/codeql-action/init@v3
      - name: Run tests
        run: |
          ${{ steps.init.outputs.codeql-path }} test extract ./java/test/
          ${{ steps.init.outputs.codeql-path }} query run --database=java/test/test.testproj/ -- java/src/security/Recursion/Recursion.ql
          ${{ steps.init.outputs.codeql-path }} test run ./java/test/
