name: CodeQL queries test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: Run CodeQL query tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          wget https://github.com/github/codeql-cli-binaries/releases/download/v2.23.0/codeql-linux64.zip
          unzip codeql-linux64.zip
          ./codeql/codeql --version
          ./codeql/codeql pack install ./java/src/
          ./codeql/codeql pack install ./java/test/
          ./codeql/codeql test run -vvv ./java/test/
