name: CodeQL queries test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: trailofbits/setup-codeql@main
        with:
          version: '2.23.8'
          platform: 'linux64'
          checksum: 'e61bc8aa8d86d45acd9d1c36629a12bbfb3365cd07a31666a2ebc91c6a1940b2'
      - run: make format-check
      - run: make test
